.title-product{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.card .card-body {
    position: relative;
    padding-bottom: 50px; /* Chừa không gian cho nút */
  }
  
  .card .btn {
    position: absolute;
    bottom: 10px; /* Khoảng cách từ dưới lên */
    left: 50%;
    transform: translateX(-50%); /* Căn giữa theo chiều ngang */
  }